<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">
          <a [routerLink]="['..', 'student', student._id]">{{student.firstname}} {{student.lastname}}</a>
        </p>
        <p class="subtitle is-6">{{student.birthdate}}</p>
      </div>
    </div>
    <div class="content">
      {{student.address}}<br/> {{student.locality}}
      <br/> {{student.phone}}
      <br/>
    </div>
  </div>
</div>