/* You can add global styles to this file, and also import other style files */
input.is-small {
    width: 50px;
}

.aside {
    background-color: #232B2D;
}

.aside .main {
    padding: 40px;
    color: #6F7B7E;
}

.aside .main .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E;
}

.content {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
}

/* To review for responsive design*/
#newStudent .card-footer-item{
    padding: 0;
}

#newStudent .card-footer-item .button{
    padding: 0.75em;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 0;
}